---
import Layout from '../layouts/Layout.astro'
---

<Layout title="lakshmi's ecell">
	<div class="bg-black text-white text-3xl flex items-center justify-center min-h-screen">
		lakshmi's ecell
	</div>	
</Layout>